{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{ template "title" . }}</title>
</head>
<body>
    <header>
        <div class="container">
             <div class="row">
                <div class="d-flex justify-content-between align-items-center">
                    <img src="/static/images/logo.png" alt="Logo" width="100" height="100">
                </div>
            </div>
        </div>
        <div>
            <a href="/">RPS</a>
        </div>
        <nav>
            <a href="/">Inicio</a>
            <a href="/new">Nuevo</a>
            <a href="/about">Acerca de</a>
        </nav>
        <h2>
            Encabezado
        </h2>
    </header>

    {{ block "content" . }}
    <footer>
        <p>
            &copy; 2025 RPS Web. Todos los derechos reservados.
        </p>
    </footer>
    {{ end  }}
</body>
</html>
{{end}}